CONFIG_IDF_TARGET="esp32c6"

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

#
# Wi-Fi disabled (Zigbee-only v1)
#
CONFIG_ESP_WIFI_ENABLED=n

#
# Zigbee End Device
#
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZED=y
